<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> User Study </title>

    <link rel="stylesheet" href="static/Semantic-UI-CSS/semantic.min.css">
    <link rel="stylesheet" href="static/css/main.css">
</head>

<body>

    <div class="main-container">
        <h1>{{ title }}</h1>
        <p id="tips-icon">
          <a><i class="ui blue question circle outline large icon"></i></a>
        </p>
        <div id="tips-popup" class="ui popup trainsition hidden">
          <div class="header">Tips</div>
          <div class="content">
            <ol>
                {% for i in guideline %}
                <li>{{ i }}</li>
                {% endfor %}
            </ol>
          </div>
        </div>
        <div id="app">
            <div class="ui active centered loader" v-show="loading" key="loader"></div>
            <transition appear name="fade">
                <div id="model-imgs" class="ui centered grid" v-show="!loading" key="images">
                    <div class="model-img ui six wide column" v-for="item in images">
                        <div class="ui blurring dimmable image" v-show="!item.isreference">
                            <video width="320" height="240" class="ui image" :src="item.img" controls></video>
                            <button v-on:click="sendVote(item.id)" class="ui inverted button"
                                style="background-color: #e01e5a; color: white;">Select</button>
                        </div>
                        <div class="ui blurring dimmable image" v-show="item.isreference">
                            <video width="320" height="240" class="ui image" :src="item.img" controls></video>
                            <p>Reference</p>
                        </div>
                    </div>
                </div>
            </transition>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="static/Semantic-UI-CSS/semantic.min.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    loading: true,
                    images: [],
                };
            },
            created() {
                this.getImages();
                $('#tips-icon').popup({ 'on': 'hover', 'position': 'top center' });
            },
            methods: {

                getImages: function() {
                    this.loading = true;
                    var vm = this;
                    axios.get('/getimages')
                        .then(function (response) {
                            vm.images = response.data.imgs.map(function (item) {
                                item.img += "?t=" + new Date().getTime();
                                return item;
                            });
                            console.log(vm.images);
                            vm.loading = false;
                        })
                        .catch(function (error) {
                            vm.images = [];
                            console.log(error);
                            vm.loading = false;
                        });
                },
                sendVote: function (choice) {
                    this.loading = true
                    var vm = this
                    axios.post('/vote', { choice: choice })
                        .then(function (response) {
                            vm.getImages();
                        })
                        .catch(function (error) {
                            alert(error)
                        })
                }
            }
        });
    </script>
</body>

</html>
