<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>User Study</title>
  <link rel="stylesheet" href="static/Semantic-UI-CSS/semantic.min.css">
  <link rel="stylesheet" href="static/css/main.css">
</head>

<body>

  <div class="main-container">
    <h1>User Study</h1>
    <p id="tips-icon">
      <a><i class="ui blue question circle outline large icon"></i></a>
    </p>
    <div id="tips-popup" class="ui popup transition hidden">
      <div class="header">Guideline</div>
      <div class="content">
        <ol>
          <li>Choose the best one.</li>
        </ol>
      </div>
    </div>
    <div id="app">
      <div class="ui active centered loader" v-show="loading" key="loader"></div>
      <div id="model-imgs" class="ui centered grid" v-show="!loading" key="images">
        <div class="model-img ui six wide column" v-for="item in images">
          <div class="ui blurring dimmable image" v-show="!item.isreference">
            <video width="320" height="240" controls>
              <source :src="item.img" type="video/mp4">
            </video>
            <button v-on:click="sendVote(item.id)" class="ui inverted button" style="background-color: #e01e5a; color: white;">Select</button>
          </div>
          <div class="ui blurring dimmable image" v-show="item.isreference">
            <div class="ui dimmer">
              <div class="content">
                <div>
                  <p>Reference</p>
                </div>
              </div>
            </div>
            <a class="ui blue right corner label"><i class="info icon"></i></a>
            <video width="320" height="240" controls>
              <source :src="item.img" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Vue.js script -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- Axios HTTP client -->
  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <!-- jQuery lib -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <!-- Semantic UI JavaScript -->
  <script src="static/Semantic-UI-CSS/semantic.min.js"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data() {
        return {
          loading: true,
          images: [],
          first: true
        };
      },
      created() {
        this.getImages();
        $('#tips-icon').popup({ 'on': 'click', 'position': 'top center' });
      },
      methods: {
        getImages: function() {
          var vm = this;
          this.loading = true;
          axios.get('/getimages')
            .then(function(response) {
              vm.images = response.data.imgs;
              if (vm.first) {
                // remove dimmer code
                vm.first = false;
              }
              vm.loading = false;
            })
            .catch(function(error) {
              vm.images = [];
              console.log(error);
            });
        },
        sendVote: function(choice) {
          var vm = this;
          this.loading = true;
          axios.post('/vote', { choice: choice })
            .then(function(response) {
              vm.getImages();
            })
            .catch(function(error) {
              alert(error);
            });
        }
      }
    });
  </script>
</body>

</html>
